# Puzzle 3

In [1]:
import pandas as pd
from utils import load_data

In [2]:
customers, orders, orders_items, products = load_data()

## Processing the addresses
- extracting the zip code

In [3]:
customers['zip'] = customers.apply(lambda customer: int(customer.citystatezip.split(" ")[-1]), axis=1)
customers

,customerid,name,address,citystatezip,birthdate,phone,zip
0,1001,Jack Quinn,201 E Park St,"Los Angeles, CA 91343",1960-05-14,805-287-8515,91343
1,1002,David Powell,224C Tysens Ln,"Staten Island, NY 10306",1978-04-04,516-768-1652,10306
2,1003,Carrie Green,1608 W 53rd Way,"Tampa, FL 33614",1969-01-21,727-209-0470,33614
3,1004,Steven Miller,178½ E 7th St,"Manhattan, NY 10009",1953-08-17,607-941-9563,10009
4,1005,Christine Powers,270 W 242nd St,"Bronx, NY 10463",1983-06-06,212-759-9043,10463
...,...,...,...,...,...,...,...
11075,12075,Catherine Wells,693 E 101st St,"Brooklyn, NY 11236",1972-07-06,716-656-2836,11236
11076,12076,Kevin Cooper,360 Edgecombe Ave,"Manhattan, NY 10031",1994-07-22,315-496-6981,10031
11077,12077,Darius Johnson,2247 Grand Ave,"Bronx, NY 10453",1989-06-18,716-797-4450,10453
11078,12078,Ryan Jones,1538 Park Pl SW,"Los Angeles, CA 90016",1949-03-12,415-584-2656,90016
11079,12079,Gregory Weiss,113 Mackenzie St,"Brooklyn, NY 11235",1990-08-27,516-736-1869,11235

Contractor's zip:

In [4]:
jeremy = customers[customers["name"] == "Jeremy Davis"]
jeremy_zip = int(jeremy.zip)
jeremy_zip

11420

## Filtering the customers
- born in the year of the Dog
- born as an Aries (between xxxx-3-21 and xxxx-4-19)
- zip code is the same as Jeremy's

In [5]:
def aries_filter(customer):
    birthdate = customer["birthdate"]
    return birthdate in pd.date_range(start=str(birthdate.year)+'-03-21', end=str(birthdate.year)+'-04-19')

dog_years = [1910 + 12*n for n in range(12)]

customers = customers[customers["birthdate"].dt.year.isin(dog_years)]
customers = customers[customers.apply(aries_filter, axis=1)]
customers = customers[customers["zip"]==jeremy_zip]

customers

,customerid,name,address,citystatezip,birthdate,phone,zip
1273,2274,Brent Nguyen,109-19 110th St,"South Ozone Park, NY 11420",1958-03-25,516-636-7397,11420