# Puzzle 2

In [1]:
import pandas as pd
from utils import load_data

In [2]:
customers, orders, orders_items, products = load_data()

## Processing the customer names
Looking for people whose abbreviated name is JD.

In [3]:
def abbrev_filter(row):
    name = row["name"]
    name_parts = name.split(' ')
    
    abbrev = name_parts[0][0] + name_parts[1][0]

    if abbrev == "JD":
        return True
    else:
        return False
    
fidx = customers.apply(abbrev_filter, axis=1)
customers_filtered = customers[fidx]
customers_filtered

,customerid,name,address,citystatezip,birthdate,phone
102,1103,Jaime Danielle Lin,1506 Selwyn Ave,"Bronx, NY 10457",1987-06-20,516-270-1105
443,1444,Jennifer Davis,4663 Park Ave S,"Brooklyn, NY 11232",1940-07-29,315-356-9127
513,1514,Joshua Downs,144 Park Rd N,"McAllen, TX 78557",1992-05-22,682-474-3747
610,1611,Jacob Davis,478B E 91st St,"Manhattan, NY 10128",1961-06-02,516-521-7244
741,1742,Jonathan Davis,862 Morris Park Ave,"Bronx, NY 10462",1947-05-08,585-510-8718
...,...,...,...,...,...,...
10465,11466,Janet Davis,693A E New York Ave,"Brooklyn, NY 11203",1998-05-20,838-661-9019
10522,11522,Jeffery Davis,139A E 29th St,"Brooklyn, NY 11226",1964-12-19,914-463-3531
10791,11791,Jonathan Davies,7123 Inter-A 6th Ave,"Brooklyn, NY 11209",1961-10-05,838-788-1575
10982,11982,Jodi Dawn Robles,1649A Nelson Ave,"Bronx, NY 10453",1951-10-24,585-428-6585
11053,12053,Joshua Dickerson,901B E Tremont Ave,"Bronx, NY 10460",1966-04-27,315-629-8623

## Filtering for coffee and bagel orders

In [4]:
def coffee_filter(row):
    if "coffee" in row["desc"].lower():
        return True
    else:
        return False

def bagel_filter(row):
    if "bagel" in row["desc"].lower():
        return True
    else:
        return False
    
coffee_skus = products[products.apply(coffee_filter, axis=1)]
coffee_skus = set(coffee_skus["sku"])

bagel_skus = products[products.apply(bagel_filter, axis=1)]
bagel_skus = set(bagel_skus["sku"])

In [5]:
for name, phone, customerid in zip(customers_filtered["name"], customers_filtered["phone"], customers_filtered["customerid"]):
    orders_filtered = orders[(orders["customerid"]==customerid) & (orders['ordered'] >= '2017-01-01') & (orders['ordered'] <= '2017-12-31')]
    
    for idx, order in orders_filtered.iterrows():
        orderid = order["orderid"]
        item_skus = set(orders_items[orders_items["orderid"]==orderid]["sku"])
        
        # both coffee and bagel is in the order
        if len(coffee_skus.intersection(item_skus)) and len(bagel_skus.intersection(item_skus)):
            print("Match:")
            print(f"{name}: {phone}, {order['ordered']}")

Match:
Jeremy Davis: 212-771-8924, 2017-04-05 12:49:41