# Puzzle 7

In [56]:
import pandas as pd
from utils import load_data

In [57]:
customers, orders, orders_items, products = load_data()

Solution of the previous puzzle:

In [58]:
# puzzle 6:
emily_id = 8342
emily = customers[customers["customerid"]==emily_id]
emily

,customerid,name,address,citystatezip,birthdate,phone
7341,8342,Emily Randolph,1055A E 3rd St,"Brooklyn, NY 11230",1988-10-30,914-868-0316

## Finding products which have color variations

In [59]:
colors = ["red", "green", "blue", "magenta", "purple", "amber", "azure", 
           "white", "yellow", "mauve", "puce", "orange", "dreidel"]

In [60]:

grouped_products = products.copy()
grouped_products["desc"] = grouped_products["desc"].str.replace("|".join(colors), "", case=False, regex=True)
grouped_products["desc"] = grouped_products["desc"].str.replace("\(|\)", "", regex=True)
grouped_products = grouped_products[["desc","sku"]].groupby("desc").aggregate("|".join)
grouped_products = grouped_products[grouped_products["sku"].str.contains("\|", regex=True)]
grouped_products

                                                                     sku
desc
 Bowl                  KIT0181|KIT0600|KIT1016|KIT2742|KIT2863|KIT690...
 Crusher                 KIT0722|KIT2257|KIT2859|KIT3866|KIT7246|KIT9730
 Cup                     KIT0877|KIT2118|KIT3661|KIT3703|KIT5711|KIT7828
 Fork                  KIT1340|KIT1564|KIT3189|KIT6234|KIT6619|KIT898...
 Knife                 KIT1490|KIT2936|KIT3135|KIT5300|KIT5997|KIT907...
 Ladle                 KIT0034|KIT3920|KIT4151|KIT4511|KIT5264|KIT534...
 Pan                   KIT0598|KIT2986|KIT3795|KIT4595|KIT6122|KIT619...
 Scale                 KIT1563|KIT2267|KIT2480|KIT4036|KIT4240|KIT462...
 Scoop                 KIT0225|KIT3230|KIT3307|KIT3972|KIT5642|KIT587...
 Spatula                         KIT1754|KIT2815|KIT3216|KIT6202|KIT6349
 Strainer              KIT0922|KIT2490|KIT2491|KIT2852|KIT4212|KIT657...
 Tongs                 KIT1523|KIT3790|KIT5000|KIT6627|KIT9453|KIT970...
Automatic Bicycle                                        HOM5080|HOM8473
Automatic Blender                                HOM6344|HOM9393|HOM9772
Automatic Crockpot                                       HOM2811|HOM6084
Automatic Machine                                HOM1154|HOM3770|HOM8793
Automatic Mixer                                  HOM0550|HOM4375|HOM9234
Automatic Timer                                          HOM2448|HOM9216
Automatic Widget                                         HOM0892|HOM7152
Electric Bicycle                                 HOM2431|HOM2857|HOM7425
Electric Blender                                         HOM3296|HOM4224
Electric Crockpot                                        HOM5838|HOM6547
Electric Machine                                         HOM5139|HOM7757
Electric Timer                                           HOM2286|HOM6805
Electric Toaster                         HOM1296|HOM5127|HOM5134|HOM8343
Handmade Crockpot                                        HOM0307|HOM1900
Handmade Radio                                           HOM1609|HOM4438
Manual Crockpot                                          HOM2099|HOM2196
Manual Radio                                     HOM2308|HOM2782|HOM3940
Manual Timer                                             HOM4995|HOM6871
Manual Toaster                                           HOM5666|HOM8833
Mechanical Bicycle                               HOM2275|HOM5937|HOM9025
Mechanical Crockpot                                      HOM1734|HOM8864
Mechanical Widget                                        HOM3113|HOM4596
Mini Mixer                                               HOM2248|HOM7845
Mini Radio                                       HOM2179|HOM2388|HOM9868
Noah's Action Figure   COL0464|COL3030|COL3110|COL4761|COL5421|COL670...
Noah's Bobblehead      COL0757|COL1035|COL1561|COL1840|COL5299|COL645...
Noah's Gift Box        COL0732|COL1222|COL1909|COL2161|COL4787|COL531...
Noah's Jersey          COL0263|COL0295|COL0971|COL1444|COL2142|COL225...
Noah's Jewelry         COL0638|COL1184|COL3050|COL3406|COL3572|COL383...
Noah's Lunchbox        COL0820|COL1357|COL1502|COL1955|COL2158|COL591...
Noah's Poster          COL1137|COL1908|COL1923|COL3461|COL3669|COL388...
Power Bicycle                    HOM0835|HOM3966|HOM4516|HOM8143|HOM8569
Power Crockpot                                           HOM0086|HOM3073
Power Radio                                      HOM0018|HOM4837|HOM9038
Power Timer                                              HOM3956|HOM9679
Super Machine                                            HOM3149|HOM9734
Vintage Blender                                          HOM6435|HOM6727
Vintage Crockpot                                         HOM7304|HOM8176

## Filtering for items with color variations

In [61]:
colored_skus = set("|".join(grouped_products["sku"]).split("|"))

orders_items = orders_items[orders_items["sku"].isin(colored_skus)]
orders_items = orders_items.merge(products, on="sku").drop(columns=["qty", "wholesale_cost","unit_price"])

orders_items["category"] = orders_items["desc"]
orders_items["category"] = orders_items["category"].str.replace("|".join(colors), "", case=False, regex=True)
orders_items["category"] = orders_items["category"].str.replace("\(|\)", "", regex=True)
orders_items

       orderid      sku                    desc          category
0         1001  COL0820  Noah's Lunchbox (blue)  Noah's Lunchbox
1         1137  COL0820  Noah's Lunchbox (blue)  Noah's Lunchbox
2         1994  COL0820  Noah's Lunchbox (blue)  Noah's Lunchbox
3         3274  COL0820  Noah's Lunchbox (blue)  Noah's Lunchbox
4         3735  COL0820  Noah's Lunchbox (blue)  Noah's Lunchbox
...        ...      ...                     ...               ...
90864   208552  KIT2480              Puce Scale             Scale
90865   208631  KIT2480              Puce Scale             Scale
90866   209345  KIT2480              Puce Scale             Scale
90867   212049  KIT2480              Puce Scale             Scale
90868   212302  KIT2480              Puce Scale             Scale

[90869 rows x 4 columns]

In [63]:
orders_items = orders_items.merge(orders, on="orderid")
orders_items.drop(columns=["items", "total"], inplace=True)
orders_items = orders_items.merge(customers[["customerid","name","phone"]], on="customerid")

orders_items

,orderid,sku,desc,category,customerid,ordered,shipped,name,phone
0,1001,COL0820,Noah's Lunchbox (blue),Noah's Lunchbox,4308,2017-01-31 00:32:19,2017-01-31 07:15:00,Travis Bartlett,929-906-5980
1,1001,COL0820,Noah's Lunchbox (blue),Noah's Lunchbox,4308,2017-01-31 00:32:19,2017-01-31 07:15:00,Travis Bartlett,929-906-5980
2,209014,COL0820,Noah's Lunchbox (blue),Noah's Lunchbox,4308,2022-10-15 19:52:46,2022-10-22 12:30:00,Travis Bartlett,929-906-5980
3,209014,COL0820,Noah's Lunchbox (blue),Noah's Lunchbox,4308,2022-10-15 19:52:46,2022-10-22 12:30:00,Travis Bartlett,929-906-5980
4,198723,KIT7096,White Scale,Scale,4308,2022-07-03 16:10:26,2022-07-03 16:10:26,Travis Bartlett,929-906-5980
...,...,...,...,...,...,...,...,...,...
91026,80176,HOM9772,Automatic Blender (mauve),Automatic Blender,5219,2019-04-01 10:46:09,2019-04-01 11:45:00,Jason Wood III,585-353-2620
91027,164825,HOM9772,Automatic Blender (mauve),Automatic Blender,1757,2021-07-27 16:25:06,2021-07-27 16:25:06,Andre Smith,680-979-1971
91028,206760,HOM9772,Automatic Blender (mauve),Automatic Blender,7602,2022-09-22 13:23:03,2022-09-28 13:15:00,Andrew Jones,701-569-9444
91029,155480,KIT2480,Puce Scale,Scale,7463,2021-04-23 23:39:13,2021-04-25 16:00:00,Roger Young,838-582-6950
91030,163669,KIT2480,Puce Scale,Scale,4390,2021-07-15 14:44:46,2021-07-18 19:00:00,Sara Barnett,480-419-8540

### Emily's orders

In [62]:
emily_orders = orders[orders['customerid']==emily_id]
emily_orders

,orderid,customerid,ordered,shipped,items,total
11623,12624,8342,2017-05-28 09:15:06,2017-05-28 11:00:00,NaN,17.56
32562,33563,8342,2017-12-24 17:05:45,2017-12-24 17:05:45,NaN,1.72
74256,75257,8342,2019-02-11 18:52:45,2019-02-11 18:52:45,NaN,5.82
85370,86371,8342,2019-06-01 12:50:16,2019-06-01 12:50:16,NaN,15.90
86598,87599,8342,2019-06-13 15:56:36,2019-06-13 15:56:36,NaN,3.51
93039,94040,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,NaN,78.95
95219,96220,8342,2019-09-09 16:30:05,2019-09-09 17:45:00,NaN,9.18
125470,126471,8342,2020-07-08 10:00:53,2020-07-08 10:00:53,NaN,62.49
130657,131658,8342,2020-08-28 16:06:44,2020-08-28 18:30:00,NaN,1.10
141362,142363,8342,2020-12-15 09:08:54,2020-12-15 09:08:54,NaN,4.33
151308,152309,8342,2021-03-23 14:08:11,2021-03-23 16:15:00,NaN,60.82
153875,154876,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,NaN,76.21
168509,169510,8342,2021-09-11 18:28:47,2021-09-16 15:30:00,NaN,13.26
199946,200947,8342,2022-07-26 08:18:05,2022-07-26 16:00:00,NaN,28.10
210644,211645,8342,2022-11-11 14:16:55,2022-11-11 18:30:00,NaN,2.50

In [64]:
emily_orders_items = orders_items[orders_items['customerid']==emily_id]
emily_orders_items

,orderid,sku,desc,category,customerid,ordered,shipped,name,phone
83195,152309,KIT5642,Azure Scoop,Scoop,8342,2021-03-23 14:08:11,2021-03-23 16:15:00,Emily Randolph,914-868-0316
83196,154876,HOM5838,Electric Crockpot (purple),Electric Crockpot,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,Emily Randolph,914-868-0316
83197,154876,COL4001,Noah's Jewelry (yellow),Noah's Jewelry,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,Emily Randolph,914-868-0316
83198,154876,KIT2480,Puce Scale,Scale,8342,2021-04-17 19:52:28,2021-04-17 19:52:28,Emily Randolph,914-868-0316
83199,126471,KIT3703,Azure Cup,Cup,8342,2020-07-08 10:00:53,2020-07-08 10:00:53,Emily Randolph,914-868-0316
83200,86371,HOM5139,Electric Machine (amber),Electric Machine,8342,2019-06-01 12:50:16,2019-06-01 12:50:16,Emily Randolph,914-868-0316
83201,200947,COL3831,Noah's Jewelry (orange),Noah's Jewelry,8342,2022-07-26 08:18:05,2022-07-26 16:00:00,Emily Randolph,914-868-0316
83202,96220,COL4384,Noah's Poster (white),Noah's Poster,8342,2019-09-09 16:30:05,2019-09-09 17:45:00,Emily Randolph,914-868-0316
83203,94040,HOM5127,Electric Toaster (blue),Electric Toaster,8342,2019-08-18 14:20:28,2019-08-18 14:20:28,Emily Randolph,914-868-0316

## Finding a pair for Emily's orders
- same category
- pair of orders close in time

In [65]:
from IPython.display import display

t_cutoff = 600 # in seconds

for idx, emily_order in emily_orders_items.iterrows():
    orders_items["closeby"] = False
    shipped_date = emily_order["shipped"]
    seconds_filter = abs((orders_items["shipped"] - shipped_date).dt.total_seconds()) <= t_cutoff
    orders_items.loc[seconds_filter, "closeby"] = True
    cat_filter = (orders_items["category"] == emily_order["category"])
    matches = orders_items[(orders_items["closeby"]) & (cat_filter) ]
    
    if len(matches)>1:
        print(60*"-")
        print(f"Matches on date {shipped_date}")
        display(matches)

------------------------------------------------------------
Matches on date 2019-06-01 12:50:16

,orderid,sku,desc,category,customerid,ordered,shipped,name,phone,closeby
83200,86371,HOM5139,Electric Machine (amber),Electric Machine,8342,2019-06-01 12:50:16,2019-06-01 12:50:16,Emily Randolph,914-868-0316,True
90847,86372,HOM7757,Electric Machine (purple),Electric Machine,8835,2019-06-01 12:50:25,2019-06-01 12:50:25,Jonathan Adams,315-618-5263,True

## Appendix: Exploration

Examples of products with color variations

In [66]:
lookfor = ["Bowl"]
products[products["desc"].str.contains("|".join(lookfor), case=False)]

          sku                       desc  wholesale_cost
19    KIT0181                 Azure Bowl           10.93
64    KIT0600                 Mauve Bowl            9.65
66    KIT0619  Mechanical Hamburger Bowl           11.86
104   KIT1016                  Puce Bowl           10.17
260   KIT2303      Electric Coconut Bowl           10.49
298   KIT2742                Purple Bowl           11.52
299   KIT2743                Bronze Bowl           11.27
316   KIT2863                 Green Bowl           11.19
478   KIT4315              Sapphire Bowl            9.29
526   KIT4742         Manual Coffee Bowl           11.27
539   KIT4838      Automatic Peanut Bowl            9.26
565   KIT5047                  Gold Bowl         3068.25
570   KIT5093                Silver Bowl           47.04
584   KIT5203      Manual Hamburger Bowl            8.35
695   KIT6296               Leather Bowl           10.30
768   KIT6907                 Amber Bowl            9.99
772   KIT6938          Vintage Cake Bowl           14.01
801   KIT7213          Electric Pie Bowl            9.89
829   KIT7561      Mechanical Melon Bowl            8.93
839   KIT7684          Power Butter Bowl           10.71
926   KIT8328                Pewter Bowl           10.51
968   KIT8663               Magenta Bowl            9.90
985   KIT8816                       Bowl            9.58
1029  KIT9108           Power Spice Bowl            9.32
1066  KIT9398               Diamond Bowl            9.41

In [67]:
lookfor = ["Mega Timer"]
products[products["desc"].str.contains("|".join(lookfor), case=False)]

         sku                desc  wholesale_cost
612  HOM5545          Mega Timer           16.71
898  HOM8167  Mega Timer (mauve)            7.16